---
layout: page
title: Resume
---
<div class="row">
  <div class="column-small">
  	<ul>
        {% for section in site.data.sections %}
            <p><a href="#{{ section.id }}" class="to-{{ section.id }}">
                    {{ section.name }}
            </a></p>
        {% endfor %}
    </ul>
  </div>

  <div class="column">
  	    {% for section in site.data.sections %}
        <div class="section" id="{{ section.id }}">
            <h3>
                {{ section.name }}
            </h3>
            <hr/>
            {% capture section_layout %}resume/{{section.layout}}.html{% endcapture %}
            {% for hash in site.data %}
              {% if hash[0] == section.id %}
                {% assign blurb = hash[1] %}
                {% include {{section_layout}} %}
              {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
  </div>
</div>
