{% for section in blurb %}
    <div class="block">
        <div class="main-row">
            <div class="org">
                {{ section.org }}
            </div>
            <div class="when">
                {{ section.when }}
            </div>
        </div>
        <div class="sub-row">
            <div class="role">
                {{ section.role }}
            </div>
            <div class="location">
                {{ section.location }}
            </div>
        </div>
        {% if section.bullets %}
        <div class="sub-row">
            <ul class="bullets">
                {% for bullet in section.bullets %}
                <li>{{ bullet }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endfor %}
