<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    {% stylesheet styles %}
  </head>
  <body>
    <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="resume">Resume</a></li>
            <li>
              <a class="icon" href="https://github.com/sstarcher">
                <img class="icon" src="{{ site.url }}{{ site.baseurl }}/assets/github.png">
              </a>
            </li>
            <li>
              <a class="icon" href="https://www.linkedin.com/in/shanestarcher">
                <img class="icon" src="{{ site.url }}{{ site.baseurl }}/assets/linkedin.png">
              </a>
            </li>
            <li>
              <a class="icon" href="https://www.facebook.com/shanestarcher">
                <img class="icon" src="{{ site.url }}{{ site.baseurl }}/assets/facebook.png">
              </a>
            </li>
            <li>
              <a class="icon" href="https://untappd.com/user/sstarcher">
                <img class="icon" src="{{ site.url }}{{ site.baseurl }}/assets/untappd.png">
              </a>
            </li>
            
          </ul>
        </div>
        </div>
      </nav>
      </header>