<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
    <link rel="stylesheet" href="{{ "/css/recipes.css" | relative_url }}">
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}
	</header>
	<main>
		<div class="container">
            <!-- Recipe -->
            <div class="recipe" itemscope itemtype="http://schema.org/Recipe">
                <div class="infobox">
                    <!-- Image -->
                    <div class="photobox">

                        <a href="{{ page.image_url }}">
                            <img src="{{ page.image_url }}" itemprop="image" class="photo"/>
                        </a>
                        <!-- Images not hosted at a different source need downloaded -->
                    </div>


                    <!-- Name -->
                    <h1 itemprop="name" class="name">{{ page.title }}</h1>

                    <!-- Rating, categories -->
                    <p itemprop="aggregateRating" class="rating" value="{{ page.rating }}">
                    {% for i in (1..page.rating) %}★{% endfor %}
                    </p>
                    <p itemprop="recipeCategory" class="categories">{{ page.categories}}</p>
                    <p class="metadata">
                        <!-- Cook time, prep time, servings, difficulty -->
                        <b>Prep Time: </b><span itemprop="prepTime">{{ page.prep_time }}</span>
                        <b>Cook Time: </b><span itemprop="cookTime">{{ page.cook_time }}</span>
                        <b>Total Time: </b><span itemprop="totalTime">{{ page.total_time }}</span>
                        <b>Difficulty: </b><span itemprop="difficulty">{{ page.difficulty }}</span>
                        <b>Servings: </b><span itemprop="recipeYield">{{ page.servings }}</span>

                        <!-- Source -->
                        <a itemprop="url" href="{{ page.source_url }}">
                            <span itemprop="author">Original Recipe</span>
                        </a>
                    </p>
                    <div class="clear"></div>
                </div>

                <div class="columnbox">
                    <!-- Ingredients -->
                    <div class="ingredientsbox">
                        <h3 class="subhead">Ingredients</h3>
                        <div class="ingredients text">
                            {% assign list = page.ingredients | newline_to_br | split: '<br />' %}
                            {% for item in list %}
                            <p class="line" itemprop="recipeIngredient">{{ item }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Nutrition (in two-column mode it goes below the ingredients) -->
                </div>

                <!-- Description -->
                <div class="descriptionbox">
                    {%- if page.description != "" -%}
                    <h3 class="subhead">Description</h3>
                    <div itemprop="description" class="description text">
                        {% assign list = page.description | newline_to_br | split: '<br />' %}
                        {% for item in list %}
                        <p>{{ item }}</p>
                        {% endfor %}
                    </div>
                    {%- endif -%}
                </div>

                <!-- Directions -->
                <div class="directionsbox">
                    <h3 class="subhead">Directions</h3>
                    <div itemprop="recipeInstructions" class="directions text">
                        {% assign list = page.directions | newline_to_br | split: '<br />' %}
                        {% for item in list %}
                        <p class="line">{{ item }}</p>
                        <p>&nbsp;</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Notes -->
                <div class="notesbox">
                    {%- if page.notes != "" -%}
                    <h3 class="subhead">Notes</h3>
                    <div itemprop="comment" class="notes text">
                        {% assign list = page.notes | newline_to_br | split: '<br />' %}
                        {% for item in list %}
                        <p>{{ item }}</p>
                        {% endfor %}
                    </div>
                    {%- endif -%}
                </div>

                <!-- Nutrition (in regular mode it goes below the notes) -->
                <div class="nutritionbox textbox">
                    {%- if page.nutritional_info != "" -%}
                    <h3 class="subhead">Nutrition</h3>
                    <div itemprop="nutrition" class="nutrition text">
                        {% assign list = page.nutritional_info | newline_to_br | split: '<br />' %}
                        {% for item in list %}
                        <p>{{ item }}</p>
                        {% endfor %}
                    </div>
                    {%- endif -%}
                </div>
            </div>
		</div>
	</main>
	{%- include footer.html -%}
</body>
</html>
